* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  align-items: center;
  text-align: center;
}
.login-page {
  background: linear-gradient(135deg, #fff, rgba(0, 43, 153, 0.418));
  width: 170vh;
  max-width: 200vh;
  height: 90vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 12rem;
  margin: 50px auto 10px;
}

.arts {
  display: flex;
  margin-top: 200px;
  margin-left: 180px;
}

.arts .art-1 {
  background-color: rgb(80, 80, 219);
  width: 150px;
  height: 20vw;
}
.arts .art-1 .faces {
  display: flex;
  column-gap: 15px;
  margin: 20px 25px 50px 60px;
  position: relative;
  justify-content: space-between;
}
.arts .art-1 .eye-1 {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.arts .art-1 .nose {
  background-color: black;
  width: 7px;
  height: 30px;
}

.arts .art-1 .eye-2 {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.eye-ball {
  background-color: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 4px;
}
.black {
  background-color: black;
  height: 15vw;
  width: 7vw;
  margin-top: 78px;
  position: absolute;
  z-index: 1;
  margin-left: 100px;
}

.black .black-eye {
  display: flex;
  column-gap: 10px;
  margin: 20px 25px 50px 60px;
  position: relative;
  justify-content: space-between;
}
.eye-black-1 {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.eye-black-2 {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.orange {
  background-color: rgb(212, 132, 34);
  height: 100px;
  width: 200px;
  margin-top: 210px;
  border-top-right-radius: 110px;
  border-top-left-radius: 110px;
  position: absolute;
  z-index: 1;
  left: 230px;
}
.orange-eye {
  display: flex;
  column-gap: 1em;
  margin-top: 40px;
  margin-left: 90px;
}
.eye-orange-1 {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.orange-mouth {
  background-color: black;
  width: 20px;
  height: 10px;
  margin-top: 10px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
}
.eye-orange-2 {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.yellow {
  background-color: yellow;
  height: 10vw;
  width: 7vw;
  margin-top: 160px;
  position: absolute;
  z-index: 1;
  margin-left: 170px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.yellow-face {
  margin-top: 30px;
  margin-left: 30px;
}
.yellow-eye {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.yellow-mouth {
  background-color: black;
  width: 80px;
  height: 5px;
  margin-top: 10px;
  margin-left: 15px;
}
.login-inputs {
  background: rgba(255, 255, 255, 0.627);
  width: 70vh;
  height: 88vh;
  border-radius: 40px;
  margin-left: 180px;
  margin-top: 8px;
}
.login-inputs h1 {
  font-size: 10px;
  line-height: 3rem;
  margin-top: 30px;
}
.login-inputs h2 {
  font-size: 30px;
  margin-top: 10px;
}
label {
  display: flex;
  margin-left: 60px;
  margin-top: 30px;
  padding: 5px;
  width: 350px;
  border-bottom: 2px black solid;
}
input {
  border: 0;
  outline: 0;
  background: none;
}
.ri-eye-line {
  margin-left: 160px;
}
.login-inputs .part {
  display: flex;
  column-gap: 5rem;
  margin-top: 15px;
  margin-left: 60px;
}
.btn-cls {
  margin-top: 40px;
  display: grid;
  row-gap: 20px;
}
.btn-cls .login {
  background-color: black;
  color: white;
  width: 350px;
  padding: 10px;
  margin-left: 60px;
  border-radius: 50px;
}
.btn-cls .login:hover {
  background-color: azure;
  color: black;
}
.btn-cls .google-lg {
  background-color: white;
  color: black;
  width: 350px;
  padding: 10px;
  margin-left: 60px;
  border-radius: 50px;
}
.btn-cls .google-lg:hover {
  background-color: black;
  color: white;
}
.last-part {
  margin-top: 50px;
  text-decoration: none;
}
.last-part a {
  text-decoration: none;
  font: bold;
}
